<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/weather.png'>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site uses info from mapbox.com and weatherstack.com</p>
            <p> This is {{author}}</p>
        </div>
        {{>footer}}
    </body>
</html>