<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel='icon' href='/weather.png'>
        <link rel="stylesheet" href='/css/styles.css'
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <h3>Help message is - </h3>
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>