<!-- <p>Static Header from hbs partials</p> -->
<header>
    <!-- <p>Dynamic header from hbs partials - </p> -->
    <h1>{{title}}</h1>
    <a href='/'>Weather</a>
    <a href='/about'>About</a>
    <a href='/help'>Help</a>
</header>